.example-icon {
    padding: 0 14px;
}
  
.example-spacer {
    flex: 1 1 auto;
}

.fill-remaining-space {
    background: #000000;
}

.navbarWidth {
    display: flex;justify-content: flex-end;width: 100%;
}
.navbarRightContent {
    margin-right: 18px;font-size: 15px;font-weight: bold;
}
.leftNavContent {
    display: flex;
    justify-content: space-around;
    width: 150px;
    font-size: 15px;
}