<div class="container">
  <md-card class="example-card">
    <md-card-header>
      <h3>Add Book</h3>
    </md-card-header>
    <md-card-content>
      <form class="example-form">
        <md-form-field class="example-full-width">
          <input mdInput placeholder="Name" value="">
        </md-form-field>
        <md-form-field class="example-full-width">
          <input mdInput placeholder="Title" value="">
        </md-form-field>
        <!-- <button md-fab color="primary"><md-icon>add</md-icon><input type="file"></button> -->
        <button md-fab color="primary" type="button" md-button (click)="imgFileInput.click()" style="margin-bottom: 12px;margin-top: 11px;"><md-icon>add</md-icon></button>
        <input hidden type="file" #imgFileInput (change)="previewImage($event)" />
        <md-form-field class="example-full-width">
          <textarea mdInput placeholder="Description"></textarea>
        </md-form-field>
        <div style="display: flex;justify-content: center;">
          <button md-raised-button color="primary" style="width: 100%;">Add</button>
        </div>
      </form>
    </md-card-content>
    <md-card-actions>
    </md-card-actions>
  </md-card>
</div>